/* IMPOSTAZIONI GENERALI */
.body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url(../img/sfondo.png);
    background-size: 500px auto;
}
.box{justify-content: center;
    text-align: center;
    background-color: #0088a2;
    box-sizing: border-box;

}
.logo{
    width: 200px;
}
h1, .menu{
color: white;
}

/* HEADER */

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
